article.post {
	header {
		h1,
		h2 {
			margin-bottom: $magic-number/2;
			margin-top: $magic-number/4;

			a {
				color: $body-font-color;
			}
		}

		.post-meta {
			font-size: 0.9rem;
		}

		time,
		.byline a {
			color: rgba(0, 0, 0, 0.7);
		}
	}

	footer {
		margin-top: 1.5rem;

		&, & p {
			font-size: 0.9rem;
		}
	}
}