/* 
 Global styles for FoundationPress
*/

// Prettify type rendering
body {
	text-rendering: optimizeLegibility;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

/**
 * Typography
 */
html {
	font-size: $base-font-size-small;
}

@media #{$medium-up} {
	html {
		font-size: $base-font-size-medium;
	}
}

@media #{$large-up} {
	html {
		font-size: $base-font-size-large;
	}
}

@media #{$xlarge-up} {
	html {
		font-size: $base-font-size-xlarge;
	}
}

@media #{$xxlarge-up} {
	html {
		font-size: $base-font-size-xxlarge;
	}
}

body {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: $magic-number*0.40;
	margin-top: $magic-number*0.60;
}

h1 {
	font-size: 1.953rem;
	line-height: $magic-number*1.5;
}

h2 {
	font-size: 1.563rem;
	line-height: $magic-number;
}

h3 {
	font-size: 1.25rem;
	line-height: $magic-number;
}

h4, h5, h6 {
	font-size: 1rem;
	font-weight: bold;
	line-height: $magic-number;
}

pre {
	background: #F4F4F4;
	font-size: 0.8rem;
	margin-bottom: $magic-number;
	padding: $magic-number/2 $magic-number/2;
}

hr {
	color: #ececec;
}