#top-header {
	background-color: #252525;
	.site-title {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 5.16rem;
		font-weight: 700;
		line-height: $magic-number*4;
		margin: 0;

		> a	{
			color: white;
		}
	}

	.site-description {
		color: white;
		font-size: 1.44rem;
		font-weight: 400;
		line-height: $magic-number;
		margin-top: 0;
		margin-bottom: $magic-number/2;
	}
}