@media print {
    a, a:visited {
        border-bottom: 1px dotted black;
        text-decoration: none;
    }

    #top-header,
    .top-bar-container,
    .tab-bar,
    #social,
    #sidebar,
    footer {
        display: none !important;
    }

    article {
        header {
            a {
                border-bottom: none;
            }

            a[href]:after {
                content: "";
            }
        }
    }

    figure a[href]:after {
        content: "";
    }
}

@page {
    margin-top: 20mm;
    margin-bottom: 20mm;
}