#sidebar {
	border-top: 1px solid #ccc;
	//margin-top: $magic-number*0.6;
	margin-bottom: $magic-number*0.4;
	padding-top: $magic-number;

	.advanced-sidebar-menu {
		margin-top: $magic-number*0.60;

		.parent-sidebar-menu {
			margin-left: 0;

			li {
				list-style: none;
			}
		}
	}

	ul {
		margin-bottom: 0;
	}

	#searchform {
		input {
			max-width: 9rem;
		}
	}
}

@media #{$large-up} {
	#sidebar {
		border-top: none;
		margin-top: $magic-number*0.6;
		padding-top: 0;
	}
}

.qtranxs_flag_and_text {
	background-position: left center;
}

.textwidget, .widget ul li {
	font-size: 0.9rem;
}