// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: $magic-number/2;
}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	border-bottom: 4px solid $oil;
}

.top-bar-section > ul > li:first-child {
	border-right: none;
}

.top-bar-search-form {
	/* Make sure placeholder text is white. The selectors must be separate. Stackoverflow 2610497 */
	::-webkit-input-placeholder { /* WebKit browsers */
	   color: white;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: white;
	   opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: white;
	   opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: white;
	}

	float: right;
	padding: 0 $column-gutter/2;
	width: 25%;

	input {
		background-color: $dfri-orange;
		border: none;
		border-bottom: 1px solid white;
		box-shadow: none;
		color: white;
		font-size: 0.9rem;
		padding-left: 0;
		width: 75%;
	}

	input:focus {
		//background-color: scale-color($dfri-orange, $lightness: -20%);
		background-color: $dfri-orange;
		border-bottom: 1px solid white;
	}
}

.top-bar input {
	height: 1.6rem;
	padding-bottom: 0.1rem;
	top: 0.325rem;
}